@import url(bootstrap.css);
.section{
	background: url('../img/section-1-bd.png');
	background-size: 100% 100%; 
}
.logo{
	margin-top: 20px;
	display: inline-block;
}
.texttel{
	font-size: 25px;
	font-weight: bold;
}
.rak{
	padding: 10px 10px 10px 10px; 
	background-color: #ffb504;
	float: right;
	color: #fff;
	font-weight: bold;
	border-radius: 5px;
}
.rak:hover{
	box-shadow: 3px 4px 2px #000;
	color: #010101;
}
.but{
	padding: -1px 15px 0 15px;
	background-color: #569a38;
}
.rasilka{
	width: 100%;
	background-color: #fff;
	padding: 8px 24px 10px 34px;
}
.rasilka input{
	margin-top: 20px;
	width: 100%;
	height: 50px;
	border-radius: 4px
}

.rake{
	padding: 10px 10px 10px 10px; 
	background-color: #ffb504;
	color: #fff;
	font-weight: bold;
	border-radius: 5px;
	margin-top: 10px;
}
.button{
	margin-left: 60px;
	margin-top: 30px;
	color: #fff;
	font-size: 20px;
	padding: 10px 10px 10px 10px;
	border: none;
	background-color: #fdb303;
	cursor: pointer;
}
.buttonclkick{
	color: #fff;
	font-size: 20px;
	width: 100%;
	padding: 10px 60px 10px 60px;
	border: none;
	background-color: #fdb303;
	cursor: pointer;
}
.sectiom1{
	margin-top: 50px;
}
.help{
	margin-top: 100px;
	margin-bottom: 50px;
}
.helpsec{
	margin-top: 20px;
	margin-bottom: 50px;
}
.dow{
	margin-top: 20px;
	float: left;
	text-align: center;
	display: inline-block;
}
.text{
	font-size: 12px;
}


.section2{
	background-color: #286b0a;
	padding: 20px 0 20px 0;
}
.remont{
	background-color: #fff;
	padding: 20px 0 20px 0;
}